{% extends 'boards/base.html' %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}

  <!-- <h1>Boards..</h1> -->
  <table border ="2">
    <tr>
      <th>Board</th>
      <th>Posts</th>
      <th>Topics</th>
      <th> Last Post</th>
    </tr>
{% for b in boardk %}
      <tr>
        <td><a href="{% url 'board_topics' b.pk %}">{{b.name}}</a><br><sub>{{b.description}}</sub></td>
        <td>asd </td>
        <td>addsa</td>
        <td>adsa</td>
      </tr>

{% endfor %}


  </table>


{% endblock %}








































<!-- <!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boards</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
    <h1>Boards..</h1>
    <table border ="2">
      <tr>
        <th>Board</th>
        <th>Posts</th>
        <th>Topics</th>
        <th> Last Post</th>
      </tr>
{% for b in boardk %}
        <tr>
          <td><a href="{% url 'board_topics' b.pk %}">{{b.name}}</a><br><sub>{{b.description}}</sub></td>
          <td>asd </td>
          <td>addsa</td>
          <td>adsa</td>
        </tr>

{% endfor %}


    </table>
  </div>



  </body>
</html> -->
